.container {
    display: flex;
    flex-direction: column;
}

footer {
    flex: 1;
}

.add-todo {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;

}

.todo-list th,
.todo-list td {
    background-color: transparent;
    border-color: black;
    text-align: center;
}

.todo-list .actions-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem
}

.todo-list td.todo-markedDone {
    background-color: yellow;
    color: green;
    text-decoration: line-through;

}

.button {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    font-family: "Segoe UI";
    letter-spacing: 1px;
}

.button:before {
    border-radius: 50px;
    border: 2px solid #468cdc;
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.15), 0 0 15px rgba(0, 255, 204, 0.15) inset;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    margin-left: -30px;
    margin-top: -30px;
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
}

.button:hover:before {
    transform: scale(1.05);
}

.button.circle {
    background: #23466e;
    border: none;
    border-radius: 900px;
    color: #e4ecfa;
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
    /* margin-top: 25px; */
    transition: 0.5s;
}

.button.circle:hover {
    background: #3e70aa;
    padding: -2px;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 20px;
}